<!-- <div class="login-page">
  <form class="login-form">
    <input type="text" placeholder="username"/>
    <input type="password" placeholder="password"/>
    <button>Generate</button>

  </form>
</div> -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">

<div class="testbox">
  <h1>Generate Short Url</h1>

  <form novalidate [formGroup]="generateUrlFormGroup">

  <label id="icon" for="urlName"><i class="icon-envelope "></i></label>
  <input type="text" formControlName="urlName" placeholder="Name" required/>
  <label id="icon" for="longUrl"><i class="icon-user"></i></label>
  <input type="text" formControlName="longUrl"  placeholder="Url" required/>
  <div class="toggle-button-cover">
    <div class="button-cover">
      <div class="button r" id="button-1">
        <input type="checkbox" class="checkbox" formControlName="isCustomRequested" />
        <div class="knobs"></div>
        <div class="layer"></div>
      </div>
    </div>
  </div>
  <button class="bubbly-button" (click)="submit()">Generate URL</button>
  </form>
</div>
