<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">


<div class="container">
	<div class="header-wrapper">
		<div class="logo">Logo</div>
		<ul class="nav1">
			<!-- <li>Blog</li>
			<li>News</li>
			<li>About</li>
			<li>Contact</li> -->
			<li>Log out</li>
		</ul>
		<div class="title">Welcome back, {{userProfile?.firstName}}!</div>
		<div class="note">Recent: <span class="focus">$250 </span>is <span class="focus">last url generated</span> on Saturday, June 5.</div>

		<span class="material-button"></span>
	</div>
	<div class="content-wrapper">
  <div class="table-wrapper">
  <ul class="horizontal col header">
      <li class="content">Url Name</li>
      <li class="content">User Url</li>
      <li class="content ">Short Bitly</li>
      <li class="content ">Short Tiny Url</li>
      <li class="content ">Custom Url</li>
      <li class="content">Custom Requested</li>
      <li class="content">Created Dated</li>
	</ul>
	<ul class="data col horizontal" *ngFor="let url of userUrls">
	 <li class="content">
		 <div>{{url.urlName}}</div>
	 </li>
	 <li class="content">
		 <div>{{url.longUrl}}</div>
	 </li>
	 <li class="content">
		 <div>{{url.shortenedBitlyUrl}}</div>
		 <div class="secondary">Expire: {{url.expiryDate | date :'shortDate'}}</div>
	 </li>
   <li class="content">
    <div>{{url.tinyUrl}}</div>
    <div class="secondary">Expire: {{url.expiryDate | date: 'shortDate'}}</div>
  </li>
  <li class="content">
    <div>{{url.customUrl}}</div>
    <div class="secondary">Expire: {{url.expiryDate | date: 'shortDate'}}</div>
  </li>
  <li class="content">
    <div>{{url.customRequested}}</div>
  </li>

	 <li class="content">
		 <div class="icon-wrapper">
			 <span class="icon edit" data-tooltip="Edit"></span><span class="icon delete" data-tooltip="Delete"></span></div>

	 </li>
	</ul>
 </div>
</div>
</div>
