<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">


<div class="container">
	<div class="header-wrapper">
		<div class="logo">Logo</div>
		<ul class="nav1">
			<!-- <li>Blog</li>
			<li>News</li>
			<li>About</li>
			<li>Contact</li> -->
			<li>Log out</li>
		</ul>
		<div class="title">Welcome back, Kelly!</div>
		<div class="note">Recent: <span class="focus">$250 </span>to <span class="focus">Best Buy</span> on Saturday, June 5.</div>

		<span class="material-button"></span>
	</div>
	<div class="content-wrapper">
  <div class="table-wrapper">
  <ul class="horizontal col header">
      <li class="content">Payoff Date</li>
      <li class="content">Payee</li>
      <li class="content ">Description</li>
      <li class="content right">Remaining</li>
	</ul>
	<ul class="data col horizontal">
	 <li class="content">
		 <div>Nov 3</div>
		 <div class="secondary">4 months</div>
	 </li>
	 <li class="content has-image">
		 <div>Best Buy</div>
		 <div class="secondary">Best Buy, LLC.</div>
	 </li>
	 <li class="content">
		 <div>Washer & Dryer</div>
		 <div class="secondary">Promotional Exp: 10/20/17</div>
	 </li>
	 <li class="content">
		 <div>$250</div>
		 <div class="secondary">2%</div>
	 </li>
	 <li class="content">
		 <div class="icon-wrapper">
			 <span class="icon edit" data-tooltip="Edit"></span><span class="icon delete" data-tooltip="Delete"></span></div>

	 </li>
	</ul>
	<ul class="data col horizontal">
	 <li class="content">
		 <div>Jan 15 <span class="year">'17</span></div>
		 <div class="secondary">6 months</div>
	 </li>
	 <li class="content has-image">
		 <div>Chase Auto</div>
		 <div class="secondary">JP Morgan Chase Bank</div>
	 </li>
	 <li class="content">
		 <div>Scion TC '12</div>
		 <div class="secondary">5 year loan</div>
	 </li>
	 <li class="content">
		 <div>$8,9120</div>
		 <div class="secondary">80%</div>
	 </li>
	 <li class="content">
			 	 <div class="icon-wrapper">
			 <span class="icon edit" data-tooltip="Edit"></span><span class="icon delete" data-tooltip="Delete"></span></div>

	 </li>
	</ul>
	<ul class="data col horizontal">
	 <li class="content">
		 <div>Mar 8 <span class="year">'17</span></div>
		 <div class="secondary">8 months</div>
	 </li>
	 <li class="content has-image">
		 <div>Macy's</div>
		 <div class="secondary">Macy's Inc.</div>
	 </li>
	 <li class="content">
		 <div>Couch</div>
		 <div class="secondary">Promotional Exp: 3/8/17</div>
	 </li>
	 <li class="content">
		 <div>$1,080</div>
		 <div class="secondary">19%</div>
	 </li>
	 <li class="content">

	 <div class="icon-wrapper">
			 <span class="icon edit" data-tooltip="Edit"></span><span class="icon delete" data-tooltip="Delete"></span></div>


	 </li>
	</ul>
 </div>
</div>
</div>
