<main>
  <section class="section-login">
      <div class="section-main">
          <div class="section-login-1">
              <div class="section-login-1-main">

                  <h1 class="section-login-1-title">irembo Url Shortener</h1>
                  <p class="section-login-1-text">Generate URLs in seconds.</p>
                  <div class="section-login-1-img">
                      <img src="https://rvs-gradie-signup-page.vercel.app/Assets/iPhone-Mockup.png" alt="">
                  </div>
              </div>
          </div>
          <div class="section-login-2">
              <div class="section-login-2-main">

                  <h1 class="section-login-2-title">Register</h1>
                  <form novalidate [formGroup]="registerFormGroup" class="section-login-2-form">
                      <div class="login-form-1">
                          <label for="firstName">First Name</label>
                          <input formControlName="firstName" type="text" id="firstName" placeholder="Olawale" required>
                      </div>
                      <div class="login-form-2">
                          <label for="lastName">last Name</label>
                          <input formControlName="lastName" type="text" id="lastName" placeholder="Ogunleye" required>
                      </div>
                      <div class="login-form-2">
                        <label for="email">Email</label>
                        <input formControlName="email" type="text" id="email" placeholder="John Doe" required>
                    </div>
                      <div class="login-form-3">
                          <label for="password">Password</label>
                          <input formControlName="password" type="password" id="password" placeholder="At least 8 characters" required>
                      </div>
                      <div class="login-form-4">
                          <input type="checkbox" id="input-checkbox">
                          <p>By creating an account, you agree to the <a href="#">Terms & Conditions.</a></p>
                      </div>
                      <div class="login-form-submit-btn">
                          <button (click)="registerUser()">Create an Account</button>
                      </div>
                      <div class="login-form-5">
                          <p>Already have an account? <a routerLink="/auth/login">Sign In</a></p>
                      </div>
                  </form>

              </div>
          </div>
      </div>
  </section>
</main>
