<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">


<div class="container">
	<div class="header-wrapper">
		<div class="logo">Logo</div>
		<ul class="nav1">
			<!-- <li>Blog</li>
			<li>News</li>
			<li>About</li>
			<li>Contact</li> -->
			<li (click)="logout()">Log out</li>
		</ul>
		<div class="title">Welcome back, {{userProfile?.firstName}}!</div>
    <div class="note">Recent: <span class="focus"> {{totalUrl}} </span> URL's <span class="focus"> generated</span> since Saturday,</div>

		<span class="material-button" routerLink="create-url"></span>
	</div>
	<!-- <app-dashboard></app-dashboard> -->
<router-outlet></router-outlet>
</div>


